.custom-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 75px;
}

.custom-box-container section {
    width: 140px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    padding: 5px;
}

.custom-box-container img {
    width: 90x;
    height: 90px;
    object-fit: contain;
    margin-bottom: 10px;
}

.custom-box-container h3 {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin: 0;
    
}
