
.custom-productcard-section{
    width: 140px;
    height: 140px;
    /* background-color: rgb(194, 194, 194); */
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.productcard-images{
    min-height: 140px;
}



