@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body{
  font-family: "Karla", sans-serif;
}

.karla-font {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* PRODUCT CARD UNIVERSAL CSS */

.custom-cardsection-container {
  display: flex;
  flex-wrap: wrap;
  width: 345px;
  justify-content: center;
  top: 0;
  cursor: pointer;
}

.custom-card-title {
  margin-top: 10px !important;
  margin-left: 20px !important
}




